## Live coding ssignment one
Vika Vijayanand

## Q 1
#### Assign the value of 384 divided by 16.43 to a variable called “result”. Then add 17.67 to it. Make sure that the returned value is a float.

In [1]:
result = 384/16.43
result += 17.67
float(result)

41.041880706025566

## Q 2 
#### Create a list with elements 2, Python, 23.54, 34, and list, and assign it to a variable called “my list”. Next, delete the second last item of my list

In [4]:
my_list = [2, "Python", 23.54, 34, "list"]
del(my_list[-2])

[2, 'Python', 23.54, 'list']

## Q 3
#### Create a tuple with the values from 2 to 15, and assign it to a variable called “my tuple”. Then, get the first 5 values and assign it to a variable called “my sliced tuple”. Finally, change the value of the second last element of “my sliced tuple” to 20.

In [1]:
my_tuple = tuple(range(2,16))
my_sliced_tuple = my_tuple[:5]
t = list(my_sliced_tuple)
t[-2]= 20
my_sliced_tuple= list(t)
print(my_sliced_tuple)

[2, 3, 4, 20, 6]

## Q 4
#### Define a list called “fruits” with the following elements: apple, peach, cherry, banana, pear, orange, lemon. Print the elements to screen in your list using a for loop, but exit the loop before printing the word “pear”.

In [2]:
fruits = ["apple", "peach", "cherry", "banana", "pear", "orange", "lemon"]
for i in fruits:
    if fruits.index(i) < 4:
        print(i)
    else:
        break

apple
peach
cherry
banana

## Q 5

#### Create a dictionary where the keys are the words Colorado, Boston, Edmonton and Minnesota and the values are Avalanche, Bruins, Oilers, Twins and assign it to a variable called “my dict”. Print the type of my dict and the dictionary itself to to screen. Next, change the value of the word Minnesota to Wild.

In [11]:
my_dict= {"Colorado": "Avalanche", "Boston": "Bruins","Edmonton":"Oilers","Minnesota":"Twins"}
print(type(my_dict))
my_dict["Minnesota"]= "Wild"
print(my_dict)

<class 'dict'>
{'Colorado': 'Avalanche', 'Boston': 'Bruins', 'Edmonton': 'Oilers', 'Minnesota': 'Wild'}

## Q 6
#### Use a while loop to calculate the sum of the integers from 0 to 12 and after completing the loop, else statement executes.

In [32]:
sum = 0
x = 0
while x < 13:
    sum = sum + x
    x += 1
else:    
    print(sum)

210

## Q 7
#### Create a list called “num1” with elements 1,4,6,7 and a second list called “num2” with elements 1,2,5,6. Create a program that prints to screen the sum of two elements of the lists if they equal or their product if they are not the same. Hint: Use nested for loops.

In [28]:
num1 = [1, 4,6, 7]
num2 = [1,2,5,6]
for x in num1:
    for y in num2:
        if x == y:
            print(x+y)
        else:
            print(x*y)

2
2
5
6
4
8
20
24
6
12
30
12
7
14
35
42

## Q 8
#### Create a function called “square odd number” that takes a number and squares it if the number is odd and prints the message “Error, the passed value is not odd”. Test your function with the values 11 and 14 by printing the results to screen.

In [31]:
def square_odd_number(x):
    y = x**2
    if y % 2 != 0:
        print(y)
    else:
        print("Error, the passed value is not odd")
square_odd_number(11)
square_odd_number(14)

121
Error, the passed value is not odd